.menu {
    position:fixed;
    width: 100%;
    z-index: 1; 
    height: 3rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
}

.menu div {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.menu div > button {
    color: #666; 
    font-size: 1.3rem;
    font-weight: 400;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 0.5rem;
}

.menu div > button:first-child {
    margin-right: 1.8rem;
}



